services:
  dakosys:
    image: ghcr.io/sahara101/dakosys:latest
    container_name: dakosys-cli
    profiles:
      - cli
    volumes:
      - ./config:/app/config
      - ./data:/app/data
      - /kometa:/kometa
    command: --help
    stdin_open: true
    tty: true

  dakosys-updater:
    image: ghcr.io/sahara101/dakosys:latest
    container_name: dakosys-web
    volumes:
      - ./config:/app/config
      - ./data:/app/data
      - /kometa:/kometa
    ports:
      - "3000:8000"
    restart: unless-stopped
    command: daemon
