@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 3.9%;
  --foreground: 0 0% 98%;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-black text-white;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @apply bg-zinc-900;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-700 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-500;
}
